<!doctype html>

<html lang="en">
<head>
  <title>{{title}}</title>
</head>

<body>
  <nav>
  <a href="/">Home</a>
  </nav>


  <h1>{{title}}</h1>

  {{content}}


  <footer>
  <ul>
  {%- for link in social  %}
    <li>{{link}}</li>
  {% endfor %}
  </ul>
  </footer>

</body>


</html>